*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: sienna;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}